<div class="row full-calendar">
	<div class="col-sm-3">
		<div id="add-new-event">
			<h4 class="page-header">Adicionar Serviço</h4>
			<div class="form-group">
				<label>Titulo do Serviço:</label>
				<input type="text" id="new-event-title" class="form-control">
			</div>
			<div class="form-group">
				<label>Descrição do Serviço:</label>
				<textarea class="form-control" id="new-event-desc" rows="3"></textarea>
			</div>
			<a href="#" id="new-event-add" class="btn btn-primary pull-right">Cadastrar</a>
			<div class="clearfix"></div>
		</div>
		<div id="external-events">
			<h4 class="page-header" id="events-templates-header">Etiquetas:</h4>
			<div class="external-event">A Realizar</div>
			<div class="external-event">Realizado</div>
			<div class="external-event">Aguardando Aprovação</div>
			<div class="external-event">Não Aprovado</div>
			<div class="external-event">Em negociação</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="drop-remove"> Remover
					<i class="fa fa-square-o small"></i>
				</label>
			</div>
		</div>
	</div>
	<div class="col-sm-9">
		<div id="calendar"></div>
	</div>
</div>
<script>
$(document).ready(function() {
	// Set Block Height
	SetMinBlockHeight($('#calendar'));
	// Create Calendar
	DrawFullCalendar();
});
</script>
