<div class="row full-uploader">
	<div id="bootstrapped-fine-uploader"></div>
</div>
<script>
$(document).ready(function () {
	SetMinBlockHeight($('.full-uploader'));
	// Load and run Uploader
	LoadFineUploader(FileUpload);
});
</script>

<!-- Fine Uploader DOM Element
====================================================================== -->
<!-- Fine Uploader template
====================================================================== -->



<script type="text/template" id="qq-template-bootstrap">
	<div class="qq-uploader-selector qq-uploader span12">
		<div class="qq-upload-drop-area-selector qq-upload-drop-area span12">
		</div>
		<div class="qq-upload-button-selector qq-upload-button btn btn-success" style="width: auto;">
			<div><i class="fa fa-upload icon-white"></i> Escolher imagem para o serviço:</div>
		</div>
		<div class="qq-dropped-zone"><i class="fa fa-cloud"></i>Começar o envio do arquivo</div>
	<span class="qq-drop-processing-selector qq-drop-processing">
		<span>Enviando arquivo...</span>
		<span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
	</span>
		<ul class="qq-upload-list-selector qq-upload-list">
			<li>
				<div class="qq-progress-bar-container-selector progress-bar progress-bar-success">
					<div class="qq-progress-bar-selector qq-progress-bar"></div>
				</div>
				<img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
				<div class="qq-upload-filename">
					<span class="qq-upload-file-selector qq-upload-file"></span>
					<span class="qq-upload-size-selector qq-upload-size"></span>
					<span class="qq-upload-status-text-selector qq-upload-status-text"></span>
				</div>
				<div class="qq-upload-settings">
					<a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancelar</a>
					<a class="qq-upload-retry-selector qq-upload-retry" href="#">Reenviar</a>
					<a class="qq-upload-delete-selector qq-upload-delete" href="#">Deletar</a>
				</div>
			</li>
		</ul>
	</div>
</script>
