.titulo-depoimento{
    background: #0275D8;
    color:#fff;
    padding-top: 1.9em;
    padding-bottom: 1.5em;
    padding-left: 1em;
    font-size: 1.7em;
    margin-bottom: 0;
}
.contato-radio , .contato-select{
    width: 49%;
    display: inline-block;
    vertical-align: middle;

}
.contato-radio .radio:first-child{
    margin-top: 0px;
}
footer{
    background: #333;
    color:aliceblue ;
}
footer address a:link{
    text-decoration:unset ;
}

header h1{
    margin-top: 0;
    margin-bottom: 0;
    position:relative;
}
h1 span {
    color: #f0bf00;
    font-size: 1.2em;
    font-family: 'Patua One', cursive;
}

html{
    background-size: cover;
    height: 100%;
}
body{
    background-image: url(../img/top-bg.jpg);
   
    height: 100%;
}
.fundo-cadastro{
            background-color: rgba(190, 195, 18, 0.9);
        }
#banner input[type=submit] {
            font-family: 'Patua One', cursive;
            background: #f0bf00;
            width: 100%;
	padding: 0.5em;
	font-size: 1em;
	margin-bottom: 1.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    margin-top: 1em;
        }

        #banner input[type=submit]:hover {
            background: #43413e;
        }
        
        #banner p {
            margin-top: 1.1em;
            font-size: 130%;
        }
        
        #banner {
            color: #fff;
            background: rgba(5, 5, 5, 0.5);
            padding: 30px;
            width: 80%;
            border-radius: 9px;
            position: absolute;
            top: 40%;
            transform: translate(-50%, -50%);
            left: 50%;
            transition: .5s;
        }
        

.box2{
     background: rgba(5, 5, 5, 0.5);
                padding: 1.5em;
                position: absolute;
                border-radius: 7px;
                top: 15%;
                left: 10%;
                right: 10%;
}
.box2 h2{
    font-family: 'Patua One', sans-serif;
                font-size: 2.5em;
                color: #f0bf00;
}
.box2 small{
    color:#fff;
}
.box2 label{
    color: #f0bf00;
}
.conteudo-b {
            height: 250px;
            border-radius: 9px;
            background: #ededed;
            padding: 5px;
            padding-left: 20px;
            margin-bottom: 5px;
        }
        
        @media(max-width:480px) {
            .container h4 {
                font-size: .8em;
            }
            h4 {
                font-weight: bold;
            }
        }
        
        .conteudo-a {
            margin-top: 5px;
        }
        .fundo-conteudo{
            background: #fff;
        }

        
