<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="#">Home</a></li>
			<li><a href="#">Serviços</a></li>
			
		</ol>
		<div id="social" class="pull-right">
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-youtube"></i></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-usd"></i>
					<span>Lista de Serviços: </span>
				</div>
				
				
				
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			
		      <div class="titserv">	Buscar em serviços: </div><div class="box-content no-padding">
				
				
				
				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
					<thead>
						<tr>
							<th>ID:</th>
							<th>Descrição</th>
							<th>Valor:</th>
							<th>Data:</th>
							<th>Contato:</th>
							<th>Local:</th>
						</tr>
					</thead>
					<tbody>
					<!-- Start: list_row -->
						<tr>
							<td>1</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/carlos-slim-helu_50x50.jpg" alt="">Carlos Slim Helu & family</td>
							<td>R$ 75,00</td>
							<td>12/05/2015</td>
							<td>Maria Lucia</td>
							<td>Belo Horizonte</td>
						</tr>
						<tr>
							<td>2</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/carlos-slim-helu_50x50.jpg" alt="">Carlos Slim Helu & family</td>
							<td>R$ 75,00</td>
							<td>12/05/2015</td>
							<td>Maria Lucia</td>
							<td>Belo Horizonte</td>
						</tr>
						<tr>
							<td>3</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/carlos-slim-helu_50x50.jpg" alt="">Carlos Slim Helu & family</td>
							<td>R$ 75,00</td>
							<td>12/05/2015</td>
							<td>Maria Lucia</td>
							<td>Belo Horizonte</td>
						</tr>
						<tr>
							<td>4</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/carlos-slim-helu_50x50.jpg" alt="">Carlos Slim Helu & family</td>
							<td>R$ 75,00</td>
							<td>12/05/2015</td>
							<td>Maria Lucia</td>
							<td>Belo Horizonte</td>
						</tr>
						<tr>
							<td>5</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/carlos-slim-helu_50x50.jpg" alt="">Carlos Slim Helu & family</td>
							<td>R$ 75,00</td>
							<td>12/05/2015</td>
							<td>Maria Lucia</td>
							<td>Belo Horizonte</td>
						</tr>
						<tr>
							<td>6</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/carlos-slim-helu_50x50.jpg" alt="">Carlos Slim Helu & family</td>
							<td>R$ 75,00</td>
							<td>12/05/2015</td>
							<td>Maria Lucia</td>
							<td>Belo Horizonte</td>
						</tr>
						<tr>
							<td>7</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/carlos-slim-helu_50x50.jpg" alt="">Carlos Slim Helu & family</td>
							<td>R$ 75,00</td>
							<td>12/05/2015</td>
							<td>Maria Lucia</td>
							<td>Belo Horizonte</td>
						</tr>
						<tr>
							<td>8</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/carlos-slim-helu_50x50.jpg" alt="">Carlos Slim Helu & family</td>
							<td>R$ 75,00</td>
							<td>12/05/2015</td>
							<td>Maria Lucia</td>
							<td>Belo Horizonte</td>
						</tr>
						<tr>
							<td>9</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/carlos-slim-helu_50x50.jpg" alt="">Carlos Slim Helu & family</td>
							<td>R$ 75,00</td>
							<td>12/05/2015</td>
							<td>Maria Lucia</td>
							<td>Belo Horizonte</td>
						</tr>
						<tr>
							<td>10</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/carlos-slim-helu_50x50.jpg" alt="">Carlos Slim Helu & family</td>
							<td>R$ 75,00</td>
							<td>12/05/2015</td>
							<td>Maria Lucia</td>
							<td>Belo Horizonte</td>
						</tr>
						<tr>
							<td>11</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/christy-walton_50x50.jpg" alt="">Christy Walton & family</td>
							<td>$28.2 B</td>
							<td>59</td>
							<td>Wal-Mart</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>12</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/stefan-persson_50x50.jpg" alt="">Stefan Persson</td>
							<td>$28 B</td>
							<td>66</td>
							<td>H&amp;M</td>
							<td>Sweden</td>
						</tr>
						<tr>
							<td>13</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/michael-bloomberg_50x50.jpg" alt="">Michael Bloomberg</td>
							<td>$27 B</td>
							<td>71</td>
							<td>Bloomberg LP</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>14</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/jim-walton_50x50.jpg" alt="">Jim Walton</td>
							<td>$26.7 B</td>
							<td>66</td>
							<td>Wal-Mart</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>15</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/sheldon-adelson_50x50.jpg" alt="">Sheldon Adelson</td>
							<td>$26.5 B</td>
							<td>80</td>
							<td>casinos</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>16</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/alice-walton_50x50.jpg" alt="">Alice Walton</td>
							<td>$26.3 B</td>
							<td>64</td>
							<td>Wal-Mart</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>17</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/s-robson-walton_50x50.jpg" alt="">S. Robson Walton</td>
							<td>$26.1 B</td>
							<td>70</td>
							<td>Wal-Mart</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>18</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/no-pic_50x50.jpg" alt="">Karl Albrecht</td>
							<td>$26 B</td>
							<td>93</td>
							<td>Aldi</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td>19</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/jeff-bezos_50x50.jpg" alt="">Jeff Bezos</td>
							<td>$25.2 B</td>
							<td>50</td>
							<td>Amazon.com</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>20</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/larry-page_50x50.jpg" alt="">Larry Page</td>
							<td>$23 B</td>
							<td>40</td>
							<td>Google</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>21</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/sergey-brin_50x50.jpg" alt="">Sergey Brin</td>
							<td>$22.8 B</td>
							<td>40</td>
							<td>Google</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>22</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/mukesh-ambani_50x50.jpg" alt="">Mukesh Ambani</td>
							<td>$21.5 B</td>
							<td>56</td>
							<td>petrochemicals, oil & gas</td>
							<td>India</td>
						</tr>
						<tr>
							<td>23</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/michele-ferrero_50x50.jpg" alt="">alan Ferrero & family</td>
							<td>$20.4 B</td>
							<td>88</td>
							<td>chocolates</td>
							<td>Italy</td>
						</tr>
						<tr>
							<td>24</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/lee-shau-kee_50x50.jpg" alt="">Lee Shau Kee</td>
							<td>$20.3 B</td>
							<td>86</td>
							<td>diversified</td>
							<td>Hong Kong</td>
						</tr>
						<tr>
							<td>24</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/david-thomson_50x50.jpg" alt="">David Thomson & family</td>
							<td>$20.3 B</td>
							<td>56</td>
							<td>media</td>
							<td>Canada</td>
						</tr>
						<tr>
							<td>26</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/prince-alwaleed-bin-talal-alsaud_50x50.jpg" alt="">Prince Alwaleed Bin Talal Alsaud</td>
							<td>$20 B</td>
							<td>58</td>
							<td>investments</td>
							<td>Saudi Arabia</td>
						</tr>
						<tr>
							<td>26</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/carl-icahn_50x50.jpg" alt="">Carl Icahn</td>
							<td>$20 B</td>
							<td>77</td>
							<td>leveraged buyouts</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>26</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/thomas-raymond-kwok_50x50.jpg" alt="">Thomas & Raymond Kwok & family</td>
							<td>$20 B</td>
							<td>-</td>
							<td>real estate</td>
							<td>Hong Kong</td>
						</tr>
						<tr>
							<td>29</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/no-pic_50x50.jpg" alt="">Dieter Schwarz</td>
							<td>$19.5 B</td>
							<td>74</td>
							<td>retail</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td>30</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/george-soros_50x50.jpg" alt="">George Soros</td>
							<td>$19.2 B</td>
							<td>83</td>
							<td>hedge funds</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>31</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/no-pic_50x50.jpg" alt="">Theo Albrecht, Jr. & family</td>
							<td>$18.9 B</td>
							<td>63</td>
							<td>Aldi, Trader Joe's</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td>32</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/alberto-bailleres-gonzalez_50x50.jpg" alt="">Alberto Bailleres Gonzalez & family</td>
							<td>$18.2 B</td>
							<td>82</td>
							<td>mining</td>
							<td>Mexico</td>
						</tr>
						<tr>
							<td>33</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/jorge-paulo-lemann_50x50.jpg" alt="">Jorge Paulo Lemann</td>
							<td>$17.8 B</td>
							<td>74</td>
							<td>beer</td>
							<td>Brazil</td>
						</tr>
						<tr>
							<td>34</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/alisher-usmanov_50x50.jpg" alt="">Alisher Usmanov</td>
							<td>$17.6 B</td>
							<td>60</td>
							<td>steel, telecom, investments</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>35</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/no-pic_50x50.jpg" alt="">Iris Fontbona & family</td>
							<td>$17.4 B</td>
							<td>71</td>
							<td>mining</td>
							<td>Chile</td>
						</tr>
						<tr>
							<td>36</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/forrest-mars-jr_50x50.jpg" alt="">Forrest Mars, Jr.</td>
							<td>$17 B</td>
							<td>82</td>
							<td>candy</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>36</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/jacqueline-mars_50x50.jpg" alt="">Jacqueline Mars</td>
							<td>$17 B</td>
							<td>74</td>
							<td>candy</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>36</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/no-pic_50x50.jpg" alt="">John Mars</td>
							<td>$17 B</td>
							<td>77</td>
							<td>candy</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>36</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/gina-rinehart_50x50.jpg" alt="">Georgina Rinehart</td>
							<td>$17 B</td>
							<td>60</td>
							<td>mining</td>
							<td>Australia</td>
						</tr>
						<tr>
							<td>40</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/no-pic_50x50.jpg" alt="">German Larrea Mota Velasco & family</td>
							<td>$16.7 B</td>
							<td>60</td>
							<td>mining</td>
							<td>Mexico</td>
						</tr>
						<tr>
							<td>41</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/mikhail-fridman_50x50.jpg" alt="">Mikhail Fridman</td>
							<td>$16.5 B</td>
							<td>49</td>
							<td>oil, banking, telecom</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>41</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/lakshmi-mittal_50x50.jpg" alt="">Lakshmi Mittal</td>
							<td>$16.5 B</td>
							<td>63</td>
							<td>steel</td>
							<td>India</td>
						</tr>
						<tr>
							<td>43</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/aliko-dangote_50x50.jpg" alt="">Aliko Dangote</td>
							<td>$16.1 B</td>
							<td>56</td>
							<td>cement, sugar, flour</td>
							<td>Nigeria</td>
						</tr>
						<tr>
							<td>44</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/len-blavatnik_50x50.jpg" alt="">Len Blavatnik</td>
							<td>$16 B</td>
							<td>56</td>
							<td>diversified</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>44</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/cheng-yu-tung_50x50.jpg" alt="">Cheng Yu-tung</td>
							<td>$16 B</td>
							<td>88</td>
							<td>diversified</td>
							<td>Hong Kong</td>
						</tr>
						<tr>
							<td>46</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/joseph-safra_50x50.jpg" alt="">Joseph Safra</td>
							<td>$15.9 B</td>
							<td>75</td>
							<td>banking</td>
							<td>Brazil</td>
						</tr>
						<tr>
							<td>47</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/rinat-akhmetov_50x50.jpg" alt="">Rinat Akhmetov</td>
							<td>$15.4 B</td>
							<td>47</td>
							<td>steel, coal</td>
							<td>Ukraine</td>
						</tr>
						<tr>
							<td>47</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/leonid-mikhelson_50x50.jpg" alt="">Leonid Mikhelson</td>
							<td>$15.4 B</td>
							<td>58</td>
							<td>gas, chemicals</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>49</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/leonardo-del-vecchio_50x50.jpg" alt="">Leonardo Del Vecchio</td>
							<td>$15.3 B</td>
							<td>78</td>
							<td>eyeglasses</td>
							<td>Italy</td>
						</tr>
						<tr>
							<td>49</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/michael-dell_50x50.jpg" alt="">Michael Dell</td>
							<td>$15.3 B</td>
							<td>48</td>
							<td>Dell</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>51</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/steve-ballmer_50x50.jpg" alt="">Steve Ballmer</td>
							<td>$15.2 B</td>
							<td>57</td>
							<td>Microsoft</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>52</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/viktor-vekselberg_50x50.jpg" alt="">Viktor Vekselberg</td>
							<td>$15.1 B</td>
							<td>56</td>
							<td>oil, metals</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>53</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/paul-allen_50x50.jpg" alt="">Paul Allen</td>
							<td>$15 B</td>
							<td>61</td>
							<td>Microsoft, investments</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>53</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/francois-pinault_50x50.jpg" alt="">Francois Pinault & family</td>
							<td>$15 B</td>
							<td>77</td>
							<td>retail</td>
							<td>France</td>
						</tr>
						<tr>
							<td>55</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/vagit-alekperov_50x50.jpg" alt="">Vagit Alekperov</td>
							<td>$14.8 B</td>
							<td>63</td>
							<td>Lukoil</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>56</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/phil-knight_50x50.jpg" alt="">Phil Knight</td>
							<td>$14.4 B</td>
							<td>75</td>
							<td>Nike</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>56</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/andrey-melnichenko_50x50.jpg" alt="">Andrey Melnichenko</td>
							<td>$14.4 B</td>
							<td>41</td>
							<td>coal, fertilizers</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>58</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/dhanin-chearavanont_50x50.jpg" alt="">Dhanin Chearavanont & family</td>
							<td>$14.3 B</td>
							<td>74</td>
							<td>food</td>
							<td>Thailand</td>
						</tr>
						<tr>
							<td>58</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/susanne-klatten_50x50.jpg" alt="">Susanne Klatten</td>
							<td>$14.3 B</td>
							<td>51</td>
							<td>BMW, pharmaceuticals</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td>58</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/vladimir-potanin_50x50.jpg" alt="">Vladimir Potanin</td>
							<td>$14.3 B</td>
							<td>53</td>
							<td>metals</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>61</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/michael-otto_50x50.jpg" alt="">Michael Otto & family</td>
							<td>$14.2 B</td>
							<td>70</td>
							<td>retail, real estate</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td>62</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/vladimir-lisin_50x50.jpg" alt="">Vladimir Lisin</td>
							<td>$14.1 B</td>
							<td>57</td>
							<td>steel, transport</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>62</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/gennady-timchenko_50x50.jpg" alt="">Gennady Timchenko</td>
							<td>$14.1 B</td>
							<td>61</td>
							<td>oil & gas</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>64</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/luis-carlos-sarmiento_50x50.jpg" alt="">Luis Carlos Sarmiento</td>
							<td>$13.9 B</td>
							<td>81</td>
							<td>banking</td>
							<td>Colombia</td>
						</tr>
						<tr>
							<td>65</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/mohammed-al-amoudi_50x50.jpg" alt="">Mohammed Al Amoudi</td>
							<td>$13.5 B</td>
							<td>69</td>
							<td>oil, diversified</td>
							<td>Saudi Arabia</td>
						</tr>
						<tr>
							<td>66</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/tadashi-yanai_50x50.jpg" alt="">Tadashi Yanai & family</td>
							<td>$13.3 B</td>
							<td>65</td>
							<td>retail</td>
							<td>Japan</td>
						</tr>
						<tr>
							<td>66</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/mark-zuckerberg_50x50.jpg" alt="">Mark Zuckerberg</td>
							<td>$13.3 B</td>
							<td>29</td>
							<td>Facebook</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>68</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/henry-sy_50x50.jpg" alt="">Henry Sy & family</td>
							<td>$13.2 B</td>
							<td>89</td>
							<td>diversified</td>
							<td>Philippines</td>
						</tr>
						<tr>
							<td>69</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/donald-bren_50x50.jpg" alt="">Donald Bren</td>
							<td>$13 B</td>
							<td>81</td>
							<td>real estate</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>69</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/serge-dassault_50x50.jpg" alt="">Serge Dassault & family</td>
							<td>$13 B</td>
							<td>88</td>
							<td>aviation</td>
							<td>France</td>
						</tr>
						<tr>
							<td>69</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/lee-kun-hee_50x50.jpg" alt="">Lee Kun-Hee</td>
							<td>$13 B</td>
							<td>72</td>
							<td>Samsung</td>
							<td>South Korea</td>
						</tr>
						<tr>
							<td>69</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/mikhail-prokhorov_50x50.jpg" alt="">Mikhail Prokhorov</td>
							<td>$13 B</td>
							<td>48</td>
							<td>investments</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>73</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/alexey-mordashov_50x50.jpg" alt="">Alexey Mordashov</td>
							<td>$12.8 B</td>
							<td>48</td>
							<td>steel, investments</td>
							<td>Russia</td>
						</tr>
						<tr>
							<td>74</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/antonio-ermirio-de-moraes_50x50.jpg" alt="">Antonio Ermirio de Moraes & family</td>
							<td>$12.7 B</td>
							<td>85</td>
							<td>diversified</td>
							<td>Brazil</td>
						</tr>
						<tr>
							<td>74</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/abigail-johnson_50x50.jpg" alt="">Abigail Johnson</td>
							<td>$12.7 B</td>
							<td>52</td>
							<td>money management</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>76</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/ray-dalio_50x50.jpg" alt="">Ray Dalio</td>
							<td>$12.5 B</td>
							<td>64</td>
							<td>hedge funds</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>76</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/robert-kuok_50x50.jpg" alt="">Robert Kuok</td>
							<td>$12.5 B</td>
							<td>90</td>
							<td>diversified</td>
							<td>Malaysia</td>
						</tr>
						<tr>
							<td>78</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/miuccia-prada_50x50.jpg" alt="">Miuccia Prada</td>
							<td>$12.4 B</td>
							<td>64</td>
							<td>Prada</td>
							<td>Italy</td>
						</tr>
						<tr>
							<td>79</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/ronald-perelman_50x50.jpg" alt="">Ronald Perelman</td>
							<td>$12.2 B</td>
							<td>71</td>
							<td>leveraged buyouts</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>80</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/anne-cox-chambers_50x50.jpg" alt="">Anne Cox Chambers</td>
							<td>$12 B</td>
							<td>94</td>
							<td>media</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>81</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/stefan-quandt_50x50.jpg" alt="">Stefan Quandt</td>
							<td>$11.9 B</td>
							<td>47</td>
							<td>BMW</td>
							<td>Germany</td>
						</tr>
						<tr>
							<td>82</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/ananda-krishnan_50x50.jpg" alt="">Ananda Krishnan</td>
							<td>$11.7 B</td>
							<td>75</td>
							<td>telecoms</td>
							<td>Malaysia</td>
						</tr>
						<tr>
							<td>82</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/alejandro-santo-domingo-davila_50x50.jpg" alt="">Alejandro Santo Domingo Davila</td>
							<td>$11.7 B</td>
							<td>36</td>
							<td>beer</td>
							<td>Colombia</td>
						</tr>
						<tr>
							<td>82</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/james-simons_50x50.jpg" alt="">James Simons</td>
							<td>$11.7 B</td>
							<td>75</td>
							<td>hedge funds</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>82</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/charoen-sirivadhanabhakdi_50x50.jpg" alt="">Charoen Sirivadhanabhakdi</td>
							<td>$11.7 B</td>
							<td>69</td>
							<td>drinks</td>
							<td>Thailand</td>
						</tr>
						<tr>
							<td>86</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/zong-qinghou_50x50.jpg" alt="">Zong Qinghou</td>
							<td>$11.6 B</td>
							<td>68</td>
							<td>beverages</td>
							<td>China</td>
						</tr>
						<tr>
							<td>87</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/no-pic_50x50.jpg" alt="">Dirce Navarro De Camargo & family</td>
							<td>$11.5 B</td>
							<td>-</td>
							<td>construction</td>
							<td>Brazil</td>
						</tr>
						<tr>
							<td>87</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/john-fredriksen_50x50.jpg" alt="">John Fredriksen</td>
							<td>$11.5 B</td>
							<td>69</td>
							<td>shipping</td>
							<td>Cyprus</td>
						</tr>
						<tr>
							<td>89</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/gerald-cavendish-grosvenor_50x50.jpg" alt="">Gerald Cavendish Grosvenor & family</td>
							<td>$11.4 B</td>
							<td>62</td>
							<td>real estate</td>
							<td>United Kingdom</td>
						</tr>
						<tr>
							<td>90</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/harold-hamm_50x50.jpg" alt="">Harold Hamm</td>
							<td>$11.3 B</td>
							<td>68</td>
							<td>oil & gas</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>91</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/rupert-murdoch_50x50.jpg" alt="">Rupert Murdoch & family</td>
							<td>$11.2 B</td>
							<td>82</td>
							<td>News Corp</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>91</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/john-paulson_50x50.jpg" alt="">John Paulson</td>
							<td>$11.2 B</td>
							<td>58</td>
							<td>hedge funds</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>91</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/azim-premji_50x50.jpg" alt="">Azim Premji</td>
							<td>$11.2 B</td>
							<td>68</td>
							<td>software</td>
							<td>India</td>
						</tr>
						<tr>
							<td>94</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/ernesto-bertarelli_50x50.jpg" alt="">Ernesto Bertarelli & family</td>
							<td>$11 B</td>
							<td>48</td>
							<td>biotech, investments</td>
							<td>Switzerland</td>
						</tr>
						<tr>
							<td>94</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/charlene-de-carvalho-heineken_50x50.jpg" alt="">Charlene de Carvalho-Heineken</td>
							<td>$11 B</td>
							<td>59</td>
							<td>Heineken</td>
							<td>Netherlands</td>
						</tr>
						<tr>
							<td>94</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/hans-rausing_50x50.jpg" alt="">Hans Rausing</td>
							<td>$11 B</td>
							<td>87</td>
							<td>packaging</td>
							<td>Sweden</td>
						</tr>
						<tr>
							<td>94</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/jack-taylor_50x50.jpg" alt="">Jack Taylor & family</td>
							<td>$11 B</td>
							<td>91</td>
							<td>Enterprise Rent-A-Car</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>98</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/lui-che-woo_50x50.jpg" alt="">Lui Che Woo</td>
							<td>$10.7 B</td>
							<td>84</td>
							<td>gaming</td>
							<td>Hong Kong</td>
						</tr>
						<tr>
							<td>98</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/laurene-powell-jobs_50x50.jpg" alt="">Laurene Powell Jobs & family</td>
							<td>$10.7 B</td>
							<td>50</td>
							<td>Apple, Disney</td>
							<td>United States</td>
						</tr>
						<tr>
							<td>100</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/eike-batista_50x50.jpg" alt="">Eike Batista</td>
							<td>$10.6 B</td>
							<td>57</td>
							<td>mining, oil</td>
							<td>Brazil</td>
						</tr>
					<!-- End: list_row -->
					</tbody>
					
				</table>
			</div>
		</div>
	</div>
</div>

	
<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
	TestTable1();
	TestTable2();
	TestTable3();
	LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
	$('select').select2();
	$('.dataTables_filter').each(function(){
		$(this).find('label input[type=text]').attr('placeholder', 'Search');
	});
}
$(document).ready(function() {
	// Load Datatables and run plugin on tables 
	LoadDataTablesScripts(AllTables);
	// Add Drag-n-Drop feature
	WinMove();
});
</script>
